<template bindable="education">
    <require from="components/education-card/education-card.css!"></require>

    <div class="education-card">
        <div>
            <h2><a href="${education.link}" target="_blank">${education.school}</a></h2>
            <span> - ${education.location}</span>
        </div>
        <div>
            <span style="display: block;"><i class="fa fa-calendar"></i> ${education.date}</span>
            <span style="display: block;">${education.degree}</span>
        </div>
    </div>
</template>