@import "libs/variables";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.avatar {
  height: 4rem;
  width: 4rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;

  li{
    height: 2.5em;
    padding: 0 1em;
    line-height: 2.5em;
  }

  span {
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 1em;
    height: 100%;
  }

  a{
    color: $color-default;
  }

  a:hover {
    color: $color-secondary;
  }

  a:active, a:focus {
    color: $color-default;
  }
}

.active {
  background-color: darken($color-primary, 10%);
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-default {
  background-color: $color-primary;
}

@media screen and (min-width: 64em) {
  .navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 64em) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 64em) {

}
