.experience-card {
  background-color: #fff;
  box-shadow:0 0.125rem 0.125rem 0 rgba(0,0,0,.14),0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,.2),0 0.0625rem 0.3125rem 0 rgba(0,0,0,.12);
}

.experience-card-header {
  margin: 0 1em;
  h2 {
    display: inline-block;
    text-decoration: underline;
  }
}

.experience-card-logo {
  display: inline-block;
}

//large monitors
@media screen and (min-width: 64em) {
  .experience-date {
    float: right;
    line-height: 4.625rem;
    vertical-align: middle;
  }
}

//small screens
@media screen and (max-width: 64em) {
  .experience-date {
    display: block;
  }

  .experience-card-header {
    h2 {
      font-size: 1em;
      margin: 0;
    }

    i {
      display: none;
    }
  }
}