<template>
    <require from="components/experience-card/experience-card.css!"></require>

    <div class="experience-card">
        <div class="experience-card-header">
            <div class="experience-card-logo">
                <i class="fa fa-spinner fa-spin" show.bind="!imageLoaded"></i>
                <img show.bind="imageLoaded" style="z-index: 1000;" src.bind="imageData"/>
            </div>
            <a href="${experience.link}" target="_blank"><h2>${experience.company}</h2></a>
            <span> - ${experience.location}</span>
            <span class="experience-date">${experience.date}</span>
        </div>
    </div>
</template>