<template bindable="info">
    <a id="contact" name="contact" data-magellan-target="contact"></a>
    <div class="section-header">
        <h1 class="float-right capitalize">contact</h1>
    </div>

    <div class="article" style="padding-bottom: 100rem;">
        <div class="contact-items">
            <div>
                <span><i class="fa fa-envelope-o" style="padding-right: 1rem;"></i>weagle08@gmail.com</span>
            </div>
            <div>
                <span><i class="fa fa-phone" style="padding-right: 1rem;"></i>+1-334-740-6353</span>
            </div>
            <div>
                <a href="https://github.com/weagle08" target="_blank" style="font-size: 3rem;"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</template>