<template bindable="article" containerless>
    <require from="./article-header.html"></require>

    <div class="article">
        <article-header article.bind="article" class="icon"></article-header>
        <div class="row">
            <template repeat.for="item of article.items">
                <div>
                    <div class="skill-card">
                        <div class="skill-card--image">
                            <img src="${'images/' + item.icon}" alt="${item.display}"/>
                        </div>
                        <div class="skill-card--footer">
                            <div>${item.display}</div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>