<template>
    <require from="components/page-menu/page-menu.css!"></require>

    <nav class="navbar">
        <div class="navbar-header">
            <img class="avatar" src="images/avatar.jpg"/>
            <div class="navbar-header-title">
                <h1>Ben Johnson</h1>
                <span>Software Engineer</span>
            </div>
        </div>
        <div class="menu-sm">
            <button click.trigger="_onToggleMenuClick()"><i class="fa fa-bars"></i></button>
            <span class="menu-sm-title">Ben Johnson</span>
        </div>
        <ul class="${navClass}">
            <li><a href="#about"><i class="fa fa-user"></i><span>About</span></a></li>
            <li><a href="#skills"><i class="fa fa-user"></i><span>Skills</span></a></li>
            <li><a href="#experience"><i class="fa fa-th-list"></i><span>Experience</span></a></li>
            <li><a href="#projects"><i class="fa fa-user"></i><span>Projects</span></a></li>
            <li><a href="#education"><i class="fa fa-user"></i><span>Education</span></a></li>
            <li><a href="#contact"><i class="fa fa-envelope"></i><span>Contact</span></a></li>
        </ul>
    </nav>
</template>